$primary: linear-gradient(270deg, #903AFF 0%, #FE34B9 100%);
$heading: #D434FE;
$background: #150E28;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: $background;
    max-width: 100vw;
    overflow-x: hidden;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    background: $background;
    z-index: 7;
    

    > div:nth-of-type(1){
        width: 100%; 
        display: flex;
        align-items: center;
        justify-content: space-between;

        .mobile-nav{
            display: none;
        }
    }

    .links-action-container{
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        display: flex;
        align-items: center;
        column-gap: 7rem;
        transition: all ease 500ms;

        .links{
            display: flex;
            column-gap: 4rem;
            
            a{
                color: white;
                text-decoration: none;
                font-size: 1rem;
            }
        }
    }
}

.btn-primary{
    background: $primary;
    color: white;
    font-size: 1rem;
    padding: 0.75rem 2rem;
    border: none;
    width: fit-content;
    border-radius: 0.25rem;
}

.company-name{
    font-size: 2.25rem;
    font-family: 'Clash Display', sans-serif;

    span:nth-of-type(1){
        color: white;
    }

    span:nth-of-type(2){
        color: $heading;
    }
}


footer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    align-items: center;
    padding: 4rem 4rem 1.5rem 4rem;
    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: 500;

    .content{
        display: grid;
        grid-template-columns: 3fr 1.5fr 1fr;
        column-gap: 5rem;

        h2{
            color: $heading;
            font-size: 1.05rem;
        }

        .about-summary{
            display: flex;
            flex-direction: column;
            row-gap: 5rem;

            .summary{
                display: flex;
                flex-direction: column;
                row-gap: 1rem;

                p{
                    font-size: 0.95rem;
                }
            }

            .links{
                display: flex;
                align-items: center;
                
                a{
                    color: white;
                    text-decoration: none;
                }

                div{
                    height: 100%;
                    width: 2px;
                    background: $heading;
                    margin: 0.5rem;
                }
            }
        }
        
        .useful-links{
            display: flex;
            flex-direction: column;
            font-size: 0.95rem;
            row-gap: 1rem;
            padding-top: 1rem;
            min-width: fit-content;

            a{
                text-decoration: none;
                color: white;
            }

            .socials{
                display: flex;
                align-items: center;
                column-gap: 1rem;
                
                h3{
                    font-size: 0.95rem;
                    font-weight: 500;
                    color: $heading;
                }

                div{
                    display: flex;
                    align-items: center;
                    column-gap: 1rem;
                }
            }
        }
    
        .contact{
            display: flex;
            flex-direction: column;
            font-size: 0.95rem;
            row-gap: 1rem;
            padding-top: 1rem;

            div{
                display: flex;
                align-items: flex-start;
                column-gap: 1rem;

                img{
                    margin-top: 0.15rem;
                }
            }
        }
    }
}


@media screen and (max-width: 500px) {
    nav{  
        transition: all ease 500ms;  
        padding: 2rem 2.5rem;    

        div:nth-of-type(1){
            .mobile-nav{
                display: unset;
        
                div:nth-of-type(1){
                    background: $primary;
                    width: fit-content;
                    max-height: fit-content;
                    padding: 1px;
                    display: none;
                    align-items: center;
                    justify-content: center;
                    max-height: fit-content;
                    width: fit-content;
                    border-radius: 100%;
                    justify-content: center;
        
                    .x-mark{
                        padding: 0.25rem;
                        border-radius: 100%;
                        background: black;
                        height: 1.75rem;
                    }
                }
        
                div:nth-of-type(2){
                    background: transparent;
                    width: fit-content;
                    max-height: fit-content;
                    padding: 1px;
                    border-radius: 0.25rem;
                    display: flex;
                    align-items: center;
        
                    .bars{
                        background: $background;
                        padding: 4px;
                        border-radius: 0.2rem;
                        width: 2.5rem;
                    }
                }
        
                div:nth-of-type(2):hover{
                    background: $primary;
        
                    .bars:hover{
                        background: $background;
                        padding: 4px;
                    }
                }
            }
        }

        .links-action-container{
            display: none;
        }
    }

    nav.mobile-open{
        transition: all ease 500ms;      
        border-bottom: none;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 2.5rem;

        div:nth-of-type(1){

            h1{
                background: transparent;
                pointer-events: none;
                
                span:nth-of-type(1){
                    color: transparent
                }

                span:nth-of-type(2){
                    color: transparent
                }
            }

            .mobile-nav{
                
        
                div:nth-of-type(1){
                    background: $primary;
                    width: fit-content;
                    max-height: fit-content;
                    padding: 1px;
                    display: flex;
                }

                div:nth-of-type(2){
                    display: none;
                }
            }
        }

        .links-action-container{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 1.5rem;
            
            .links{
                flex-direction: column;
                row-gap: 1.5rem;
            }
        }
    }

    footer{
        padding: 4rem 2.5rem 1.5rem 2.5rem;

        .content{
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 2rem;

            .about-summary{
                display: flex;
                flex-direction: column;
                row-gap: 2rem;
            }

            .useful-links{
                padding-top: 0;
            }

            .contact{
                padding-top: 0;
            }
        }
    }
}