@import "colours.scss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: $background;
    max-width: 100vw;
    overflow-x: hidden;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden !important;
    width: 100%;
    height: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    background: $background;
    z-index: 7;

    a{
        cursor: pointer;
    }
    

    > div:nth-of-type(1){
        width: 100%; 
        display: flex;
        align-items: center;
        justify-content: space-between;

        .mobile-nav{
            display: none;
        }
    }

    .links-action-container{
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        display: flex;
        align-items: center;
        column-gap: 7rem;
        transition: all ease 500ms;

        .links{
            display: flex;
            column-gap: 4rem;
            
            a{
                color: white;
                text-decoration: none;
                font-size: 1.1rem;
                transition: all ease 100ms;
            }

            a:hover{
                color: $heading;
                cursor: pointer;
            }

            a:active{
                color: $heading3;
            }

            .contact.special{
                color: $heading;
                background: $gradient_background;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .register{

            button{
                font-size: 1.1rem;
            }
        }

        .register.special{
            background: $gradient_background;
            padding: 0.125rem;
            border-radius: 0.35rem;

            button{
                background: $background !important;
                padding: 0.55rem 1.8rem;
            }
        }

        .register.special:hover{
            background: $gradient_background;
            padding: 0.125rem;
            border-radius: 0.35rem;

            button{
                background: $gradient_background;
                padding: 0.55rem 1.8rem;
                border: none;
            }
        }
    }
}

.btn-primary{
    background: $gradient_background;
    color: white;
    font-size: 1rem;
    padding: 0.75rem 2rem;
    border: none;
    width: fit-content;
    border-radius: 0.25rem;
    font-family: Montserrat, sans-serif;
    cursor: pointer;
    transition: all ease 100ms;
}

.btn-primary:hover{
    background: $input_background;
    border: solid 1.5px $heading;
}

.company-name{
    font-size: 2.25rem;
    font-family: 'Clash Display', sans-serif;
    text-decoration: none;

    span:nth-of-type(1){
        color: white;
    }

    span:nth-of-type(2){
        color: $heading;
    }
}

main{
    position: relative;
}

.loading{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $loading_background;

    img{
        width: 5rem;
    }
}


footer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    align-items: center;
    padding: 4rem 4rem 1.5rem 4rem;
    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: 500;

    .content{
        display: grid;
        grid-template-columns: 3fr 1.5fr 1fr;
        column-gap: 5rem;

        h2{
            color: $heading;
            font-size: 1.05rem;
        }

        .about-summary{
            display: flex;
            flex-direction: column;
            row-gap: 5rem;

            .summary{
                display: flex;
                flex-direction: column;
                row-gap: 1rem;

                p{
                    font-size: 0.95rem;
                }
            }

            .links{
                display: flex;
                align-items: center;
                
                a{
                    color: white;
                    text-decoration: none;
                }

                div{
                    height: 100%;
                    width: 2px;
                    background: $heading;
                    margin: 0.5rem;
                }
            }
        }
        
        .useful-links{
            display: flex;
            flex-direction: column;
            font-size: 0.95rem;
            row-gap: 1rem;
            padding-top: 1rem;
            min-width: fit-content;

            a{
                text-decoration: none;
                color: white;
            }

            .socials{
                display: flex;
                align-items: center;
                column-gap: 1rem;
                
                h3{
                    font-size: 0.95rem;
                    font-weight: 500;
                    color: $heading;
                }

                div{
                    display: flex;
                    align-items: center;
                    column-gap: 1rem;
                }
            }
        }
    
        .contact{
            display: flex;
            flex-direction: column;
            font-size: 0.95rem;
            row-gap: 1rem;
            padding-top: 1rem;

            div{
                display: flex;
                align-items: flex-start;
                column-gap: 1rem;

                img{
                    margin-top: 0.15rem;
                }
            }
        }
    }
}


@media screen and (max-width: 550px) {
    nav{
        flex-direction: column;
        justify-content: flex-start;
        transition: all ease 500ms;  
        padding: 1rem 2.5rem;    
        height: 5rem;
        z-index: 7;

        div:nth-of-type(1){
            .mobile-nav{
                display: unset;
        
                div:nth-of-type(1){
                    background: $gradient_background;
                    width: fit-content;
                    max-height: fit-content;
                    padding: 1px;
                    display: none;
                    align-items: center;
                    justify-content: center;
                    max-height: fit-content;
                    width: fit-content;
                    border-radius: 100%;
                    justify-content: center;
        
                    .x-mark{
                        padding: 0.25rem;
                        border-radius: 100%;
                        background: black;
                        height: 1.75rem;
                    }
                }
        
                div:nth-of-type(2){
                    background: transparent;
                    width: fit-content;
                    max-height: fit-content;
                    padding: 1px;
                    border-radius: 0.25rem;
                    display: flex;
                    align-items: center;
        
                    .bars{
                        background: $background;
                        padding: 4px;
                        border-radius: 0.2rem;
                        width: 2.5rem;
                    }
                }
        
                div:nth-of-type(2):hover{
                    background: $gradient_background;
        
                    .bars:hover{
                        background: $background;
                        padding: 4px;
                    }
                }
            }
        }

        .links-action-container{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 1.5rem;
            opacity: 0;
            transform: translateY(-200px);
            z-index: 6;
            
            .links{
                flex-direction: column;
                row-gap: 1.5rem;
                color: transparent;
                display: none;
            }

            .register{
                display: none;
            }
        }
    }

    nav.mobile-open{
        transition: all ease 500ms;      
        border-bottom: none;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 2.5rem;
        padding: 1rem 2.5rem 5rem 2.5rem;    
        height: auto;

        div:nth-of-type(1){

            h1{
                background: transparent;
                pointer-events: none;
                
                span:nth-of-type(1){
                    color: transparent
                }

                span:nth-of-type(2){
                    color: transparent
                }
            }

            .mobile-nav{
                
        
                div:nth-of-type(1){
                    background: $gradient_background;
                    width: fit-content;
                    max-height: fit-content;
                    padding: 1px;
                    display: flex;
                }

                div:nth-of-type(2){
                    display: none;
                }
            }
        }

        .links-action-container{
            opacity: 1;
            transform: translateY(0);

            .links{
                display: flex;
            }

            .register{
                display: unset;
            }
        }
    }

    footer{
        padding: 4rem 2.5rem 1.5rem 2.5rem;

        .content{
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 2rem;

            .about-summary{
                display: flex;
                flex-direction: column;
                row-gap: 2rem;
            }

            .useful-links{
                padding-top: 0;
            }

            .contact{
                padding-top: 0;
            }
        }
    }
}

.Toastify__toast--error {
    border: 1px solid #EB5757;
    border-radius: 1rem !important;
    background: #FAE1E2 !important;
    padding-right: 2.5rem !important; 
    font-family: Montserrat, sans-serif;
}

.Toastify__toast--error::after {
    content: url('../assets/icons/xmark_black.svg');
    position: absolute;
    font-size: 15px;
    font-weight: 700;
    width: 20px;
    height: 20px;
    right: 1rem;
    top: 1rem;
}

.Toastify__toast--error::before {
    position:relative; 
    z-index:100000;
    left:12px;
    top:6px;
}

.Toastify__toast--success {
    border: 1px solid #3A9EA5 !important;
    border-radius: 1rem !important;
    background: #F0F9FA !important;
    font-family: Montserrat, sans-serif;
    padding-right: 2rem !important;
}

.Toastify__toast--success::before {
    position:relative; 
    z-index:100000;
    left:12px;
    top:6px;
}

.Toastify__toast--success::after {
    content: url('../assets/icons/xmark_black.svg');
    position: absolute;
    font-size: 15px;
    font-weight: 700;
    width: 20px;
    height: 20px;
    right: 1rem;
    top: 1rem;
}

.Toastify__toast--warning {
    border-radius: 1rem !important;
    padding-right: 2.5rem !important; 
    border: 1px solid #E78326  !important;
    background: #FADFC5 !important;
    font-family: Montserrat, sans-serif;
}

.Toastify__toast--warning::before {
    position:relative; 
    z-index:100000;
    left:12px;
    top:6px;
}  

.Toastify__toast--warning::after {
    content: url('../assets/icons/xmark_black.svg');
    position: absolute;
    font-size: 15px;
    font-weight: 700;
    width: 20px;
    height: 20px;
    right: 1rem;
    top: 1rem;
}

.Toastify__toast-body {
    color: #444C63    ;
    font-size: 1rem;
    padding-left: 20px;
    line-height: 20px;
    padding: 0px;
    padding-top: 25px;
    width: 100%;
    font-weight: 400;
    margin-left: 25px !important;
} 

.Toastify__toast > button>  svg {
    display: none;
}