$primary: linear-gradient(270deg, #903AFF 0%, #FE34B9 100%);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Clash Display', sans-serif;
    background: #150E28;;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5rem;
    border: solid 1px white;

    .links-action-container{
        font-family: 'Montserrat', sans-serif;
        display: flex;
        align-items: center;
        column-gap: 7rem;

        .links{
            display: flex;
            column-gap: 4rem;
            
            a{
                color: white;
                text-decoration: none;
                font-size: 1rem;
            }
        }

        button{
            background: $primary;
            color: white;
            font-size: 1rem;
            padding: 0.75rem 2rem;
            border: none;
            border-radius: 0.25rem;
        }
    }
}

.company-name{
    font-size: 2.25rem;

    span:nth-of-type(1){
        color: white;
    }

    span:nth-of-type(2){
        color: #D434FE;
    }
}


footer{

}