$primary: linear-gradient(270deg, #903AFF 0%, #FE34B9 100%);
$background: #150E28;
$nav_bg: $background;
$heading: #D434FE;
$heading2: #FF26B9;
$heading3: #903AFF;
$border: #FFFFFF2E;
$gradient_background: linear-gradient(270deg, #903AFF 0%, #D434FE 100%);
$input_background: rgba(255, 255, 255, 0.03);
$congratulations_background: rgba(21, 14, 40, 0.93);
$loading_background: rgba(21, 14, 40, 0.7);