@import "colours.scss";

main{
    width: 100%;
    height: 100%;
    margin: 5.855rem 0 3rem 0;
}

.highlight{
    color: $heading;
}

.bold{
    font-weight: 700;
}

.hero{
    color: white;
    border-bottom: solid 1px #FFFFFF2E;
    border-top: solid 1px #FFFFFF2E;
    background: #140D27;
    padding-top: 3rem;

    > div:nth-of-type(1){
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 3rem;

        h2{
            font-family: Montserrat, sans-serif;
            font-size: 2rem;
            font-style: italic;
            text-align: right;
        }

        img{
            width: fit-content;
        }
    }

    .content{
        display: flex;
        align-items: center;
        padding: 4rem 0 0 4rem;


        > div:nth-of-type(1){
            flex: 60%;
            display: flex;
            flex-direction: column;
            row-gap: 1.5rem;
            position: relative;

            .hackathon-name{

                h1{
                    font-family: Clash Display, sans-serif;
                    font-size: 4rem;
                    line-height: normal;
                }
    
                .images{
                    margin-left: 0.5rem;
                }
    
                img:nth-of-type(1){
                    width: 65px;
                    margin-bottom: -0.75rem;
                }
    
                img:nth-of-type(2){
                    width: 40px;
                }
            }

            p{
                line-height: 2.075rem;
                font-size: 1.2rem;
                padding-right: 4rem;
            }

            .countdown{
                font-size: 3.3rem;
                font-family: Unica One;
                margin-top: 5rem;

                span{
                    font-size: 1rem;
                    margin-right: 1.5rem;
                }
            }

            > img:last-of-type{
                position: absolute;
                top: -2.7rem;
                right: 7.1rem;
                width: 45px;
            }
        }        
        
        > div:nth-of-type(2){
            position: relative;

            img{
                width: 100%;
                height: auto;
            }

            img:not(.ball){
                filter: grayscale(100%);
                background-blend-mode: luminosity;
            }

            .ball{
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.65;
                background-blend-mode: hard-light;
            }
        }

        p{
            font-size: 1.25rem;
            font-family: Montserrat, sans-serif;
        }
    }
}

.intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 4rem;
    column-gap: 8rem;
    border-bottom: solid 1px $border;
    border-top: solid 1px $border;

    .text-container{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        p{
            font-family: Montserrat, sans-serif;
            color: white;
            font-size: 1rem !important;
            line-height: 1.7rem;
        }
        
        h2{
            font-family: Clash Display, sans-serif;
            color: white;
            font-size: 2.2rem;
        }

        .error{
            display: flex;
            align-items: center;
            column-gap: 2rem;

            h1{
                font-size: 6rem;
                font-family: Clash Display, sans-serif;
                color: $heading;
            }

            h2{
                font-size: 2rem;
            }
        }
    }

    .image-container {

        img{
            width: 100%;
            height: auto;
        }
    }
}

.rules{
    @extend .intro;
    border-top: solid 1px $border;
    border-bottom: solid 1px $border;
    padding: 0rem 4rem;
}

.judging{
    @extend .intro;
    padding: 6rem 4rem 8rem 2rem;

    p{
        span.highlight{
            font-weight: bold;
            color: $heading2;
            font-size: 1.2rem;
        }
    }

    button{
        margin-top: 2rem;
    }
}

.questions{
    @extend .intro;
    align-items: flex-start;
    padding: 8rem 4rem 8rem 4rem;

    .text-container{

        > p{
            padding-right: 5rem;
        }
    }

    .image-container{
        img{
            margin-top: -1rem;
        }
    }

    .faq-item{
        color: white;
        font-family: Montserrat, sans-serif;
        list-style-type: none;

        > div:nth-of-type(1){
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            padding: 0.75rem 0;
            border-bottom: solid 1px $heading;

            .question{
                font-size: 1rem;
                line-height: 1.7rem;
            }

            .symbol{
                font-size: 1.75rem;
                color: $heading;
            }
        }  

        > div:nth-of-type(2){
            transition: all ease 500ms;
            
            .answer{
                padding: 1rem;
                border: solid 1px $heading;
                border-top: none;
                background: darken($background, 2);
                border-bottom-left-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
            }
        }
    }
}

.timeline{
    color: white;
    padding: 4rem 4rem 6rem 4rem;
    
    > div:nth-of-type(1){
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        align-items: center;
        text-align: center;

        h2{
            font-family: Clash Display, sans-serif;
            font-size: 2.2rem;
        }

        p{
            font-family: Montserrat, sans-serif;
            max-width: 25rem;
            line-height: 1.7rem;
        }
    }

    .timelines{
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        font-family: Montserrat, sans-serif;
        padding-top: 9rem;

        .timeline-item{
            display: flex;
            column-gap: 4rem;
            align-items: center;
            list-style-type: none;

            .activity-summary{
                flex: 40%;
                text-align: right;
                display: flex;
                flex-direction: column;
                row-gap: 1.25rem;

                h3{
                    font-family: Montserrat, sans-serif;
                    color: $heading;
                    font-size: 1.4rem;
                }

                .summary{
                    padding: 0;
                    line-height: 1.7rem;
                }
            }

            .order{
                flex: 20%;
                padding: 1.5rem 0.65rem;
                border-radius: 50%;
                z-index: 4 !important;
                max-width: fit-content;
                position: relative;
                background: $background !important;
    
                span{
                    padding: 0.75rem 1.15rem;
                    font-weight: bold;
                    font-size: 1.25rem;
                    border-radius: 50%;
                    background: $gradient_background;
                    z-index: 5;
                }

                .line{
                    position: absolute;
                    left: 47%;
                    top: -5rem;
                    width: 2px;
                    height: 5rem;
                    background: #D434FE;
                    z-index: -1;
                }

                .line2{
                    position: absolute;
                    left: 47%;
                    bottom: -5rem;
                    width: 2px;
                    height: 5rem;
                    background: #D434FE;
                    z-index: -1;
                }
            }

            > p{
                flex: 40%;
                text-align: left;
                font-weight: bold;
                color: $heading;
                font-size: 1.4rem;
            }
        }

        .timeline-item:first-of-type{

            .order{

                span{
                    padding: 0.75rem 1.25rem;
                }
            }
        }

        .timeline-item.reverse{
            flex-direction: row-reverse;

            .activity-summary{
                text-align: left;
            }

            > p{
                text-align: right;
            }
        }


        .timeline-item:nth-of-type(3){
            margin-top: 1rem;
        }

        .timeline-item:nth-of-type(4){
            margin-top: 1rem;
        }

        .timeline-item:nth-of-type(5){
            margin-top: 0.25rem;
        }

        .timeline-item:nth-of-type(6){
            margin-top: 0.25rem;

            .order{

                .line2{
                    height: 0;
                }
            }
        }
    }
}

// todo make this section responsive
.prizes{
    @extend .intro;
    column-gap: 2rem;
    padding: 4rem 4rem 8rem 4rem;
    align-items: flex-end;
    border: none;

    .text-container{
        flex: 40%;
        align-items: center;

        > div{
            display: flex;
            flex-direction: column;
            row-gap: 1rem;

            p{
                width: 25rem;
            }
        }

        .rewards{
            display: flex;
            column-gap: 1.5rem;
            padding-top: 15rem;

            li{
                border: 1px solid $heading;
                border-radius: 0.5rem;
                background: rgba(212, 52, 254, 0.12);
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                height: fit-content;

                > div{
                    display: flex;
                    flex-direction: column;
                    row-gap: 1rem;
                    align-items: center;
                    padding: 7rem 1.25rem 1rem 1.25rem;
                    text-align: center;
                    margin-top: 0.5rem;

                    h3{
                        color: white;
                        font-family: Montserrat, sans-serif;

                        span{
                            font-size: 2rem;
                        }
                    }

                    h2{
                        color: $heading;
                        font-size: 1.75rem;
                    }
                }

                img{
                    position: absolute;
                    top: -85px;
                }
            }

            #third{

                img{
                    top: -75px;
                }
            }

            #first{
                border: 1px solid $heading3;

                > div{
                    margin-top: 1.5rem;

                    h2{
                        color: $heading3;
                    }
                }

                img{
                    top: -150px;
                    width: 16rem;
                }
            }
        }
    }

    .image-container{
        flex: 60%;
        padding-bottom: 3rem;
        width: 100%;

        img{
            width: 100%;
            height: auto;
        }
    }
}

.partners-sponsors{
    color: white;
    padding: 8rem 4rem 6rem 4rem;
    display: flex;
    row-gap: 4rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > div:nth-of-type(1){
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        align-items: center;
        text-align: center;

        h2{
            font-family: Clash Display, sans-serif;
            font-size: 2.2rem;
        }

        p{
            font-family: Montserrat, sans-serif;
            max-width: 32rem;
            line-height: 1.7rem;
        }
    }

    .all_sponsors{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
        padding: 4rem 6rem;
        border: solid 1px $heading;

        div{
            border: solid 2px $heading;
            border-collapse: collapse;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2rem;
            position: relative;

            // todo for responsiveness
            // img{
            //     width: 100%;
            //     height: auto;
            // }

            span{
                position: absolute;
                width: 4rem;
                height: 4rem;
                background: $background;
                z-index: 3;
            }
        }

        div:nth-of-type(1){
            border-top: none;
            border-left: none;
        }

        div:nth-of-type(2){
            border-top: none;

            span:nth-of-type(1){
                left: -2.1rem;
                bottom: -2.1rem;
            }

            span:nth-of-type(2){
                right: -2.1rem;
                bottom: -2.1rem;
            }

            span:nth-of-type(2){
                position: absolute;
                right: -2.1rem;
                bottom: -2.1rem;
            }

            span:nth-of-type(3){
                position: absolute;
                right: -2.1rem;
                top: -1.5rem;
            }

            span:nth-of-type(4){
                position: absolute;
                left: -2.1rem;
                top: -1.5rem;
            }
        }

        div:nth-of-type(3){
            border-top: none;
            border-right: none;
        }

        div:nth-of-type(4){
            border-bottom: none;
            border-left: none;
        }

        div:nth-of-type(5){
            border-bottom: none;

            span:nth-of-type(1){
                left: -2.1rem;
                bottom: -1.5rem;
            }

            span:nth-of-type(2){
                right: -2.1rem;
                bottom: -1.5rem;
            }
        }

        div:nth-of-type(5){
            border-bottom: none;
        }

        div:nth-of-type(6){
            border-bottom: none;
            border-right: none;
        }
    }
}

// todo the prizes section start responsiveness at 1000 


.privacy-policy{
    @extend .intro;
    border-bottom: none;
    padding-top: 8rem;
    
    p.last_updated{
        color: rgba(255, 255, 255, 0.75);
    }

    .policy{
        border: solid 1px $heading;
        border-radius: 0.3125rem;
        padding: 3rem;
        margin-top: 4rem;
        color: white;
        font-family: Montserrat, sans-serif;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        > div {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;

            h3{
                color: $heading;
            }
    
            h4{
                font-size: 1rem;
            }
    
            .terms{
                display: flex;
                flex-direction: column;
                padding-top: 1rem;
                row-gap: 1rem;
                
                li{
                    display: flex;
                    align-items: flex-start;
                    column-gap: 1rem;
                    height: fit-content;
                    list-style-type: none;
                }
            }
    
            button{
                align-self: center;
            }
        }
    }
}