* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #150E28;
  max-width: 100vw;
  overflow-x: hidden;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden !important;
  width: 100%;
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  background: #150E28;
  z-index: 7;
}
nav > div:nth-of-type(1) {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav > div:nth-of-type(1) .mobile-nav {
  display: none;
}
nav .links-action-container {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  column-gap: 7rem;
  transition: all ease 500ms;
}
nav .links-action-container .links {
  display: flex;
  column-gap: 4rem;
}
nav .links-action-container .links a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}
nav .links-action-container .links .contact.special {
  color: #D434FE;
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav .links-action-container .register button {
  font-size: 1.1rem;
}
nav .links-action-container .register.special {
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 100%);
  padding: 0.125rem;
  border-radius: 0.35rem;
}
nav .links-action-container .register.special button {
  background: #150E28;
  padding: 0.55rem 1.8rem;
}

.btn-primary {
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 100%);
  color: white;
  font-size: 1rem;
  padding: 0.75rem 2rem;
  border: none;
  width: fit-content;
  border-radius: 0.25rem;
  font-family: Montserrat, sans-serif;
  cursor: pointer;
}

.company-name {
  font-size: 2.25rem;
  font-family: "Clash Display", sans-serif;
  text-decoration: none;
}
.company-name span:nth-of-type(1) {
  color: white;
}
.company-name span:nth-of-type(2) {
  color: #D434FE;
}

main {
  position: relative;
}

.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(21, 14, 40, 0.7);
}
.loading img {
  width: 5rem;
}

footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  align-items: center;
  padding: 4rem 4rem 1.5rem 4rem;
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}
footer .content {
  display: grid;
  grid-template-columns: 3fr 1.5fr 1fr;
  column-gap: 5rem;
}
footer .content h2 {
  color: #D434FE;
  font-size: 1.05rem;
}
footer .content .about-summary {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}
footer .content .about-summary .summary {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
footer .content .about-summary .summary p {
  font-size: 0.95rem;
}
footer .content .about-summary .links {
  display: flex;
  align-items: center;
}
footer .content .about-summary .links a {
  color: white;
  text-decoration: none;
}
footer .content .about-summary .links div {
  height: 100%;
  width: 2px;
  background: #D434FE;
  margin: 0.5rem;
}
footer .content .useful-links {
  display: flex;
  flex-direction: column;
  font-size: 0.95rem;
  row-gap: 1rem;
  padding-top: 1rem;
  min-width: fit-content;
}
footer .content .useful-links a {
  text-decoration: none;
  color: white;
}
footer .content .useful-links .socials {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
footer .content .useful-links .socials h3 {
  font-size: 0.95rem;
  font-weight: 500;
  color: #D434FE;
}
footer .content .useful-links .socials div {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
footer .content .contact {
  display: flex;
  flex-direction: column;
  font-size: 0.95rem;
  row-gap: 1rem;
  padding-top: 1rem;
}
footer .content .contact div {
  display: flex;
  align-items: flex-start;
  column-gap: 1rem;
}
footer .content .contact div img {
  margin-top: 0.15rem;
}

@media screen and (max-width: 500px) {
  nav {
    flex-direction: column;
    justify-content: flex-start;
    transition: all ease 500ms;
    padding: 1rem 2.5rem;
    height: 5rem;
  }
  nav div:nth-of-type(1) .mobile-nav {
    display: unset;
  }
  nav div:nth-of-type(1) .mobile-nav div:nth-of-type(1) {
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 100%);
    width: fit-content;
    max-height: fit-content;
    padding: 1px;
    display: none;
    align-items: center;
    justify-content: center;
    max-height: fit-content;
    width: fit-content;
    border-radius: 100%;
    justify-content: center;
  }
  nav div:nth-of-type(1) .mobile-nav div:nth-of-type(1) .x-mark {
    padding: 0.25rem;
    border-radius: 100%;
    background: black;
    height: 1.75rem;
  }
  nav div:nth-of-type(1) .mobile-nav div:nth-of-type(2) {
    background: transparent;
    width: fit-content;
    max-height: fit-content;
    padding: 1px;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
  }
  nav div:nth-of-type(1) .mobile-nav div:nth-of-type(2) .bars {
    background: #150E28;
    padding: 4px;
    border-radius: 0.2rem;
    width: 2.5rem;
  }
  nav div:nth-of-type(1) .mobile-nav div:nth-of-type(2):hover {
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 100%);
  }
  nav div:nth-of-type(1) .mobile-nav div:nth-of-type(2):hover .bars:hover {
    background: #150E28;
    padding: 4px;
  }
  nav .links-action-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.5rem;
    opacity: 0;
    transform: translateY(-200px);
  }
  nav .links-action-container .links {
    flex-direction: column;
    row-gap: 1.5rem;
    color: transparent;
    display: none;
  }
  nav .links-action-container .register {
    display: none;
  }
  nav.mobile-open {
    transition: all ease 500ms;
    border-bottom: none;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2.5rem;
    padding: 1rem 2.5rem 5rem 2.5rem;
    height: auto;
  }
  nav.mobile-open div:nth-of-type(1) h1 {
    background: transparent;
    pointer-events: none;
  }
  nav.mobile-open div:nth-of-type(1) h1 span:nth-of-type(1) {
    color: transparent;
  }
  nav.mobile-open div:nth-of-type(1) h1 span:nth-of-type(2) {
    color: transparent;
  }
  nav.mobile-open div:nth-of-type(1) .mobile-nav div:nth-of-type(1) {
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 100%);
    width: fit-content;
    max-height: fit-content;
    padding: 1px;
    display: flex;
  }
  nav.mobile-open div:nth-of-type(1) .mobile-nav div:nth-of-type(2) {
    display: none;
  }
  nav.mobile-open .links-action-container {
    opacity: 1;
    transform: translateY(0);
  }
  nav.mobile-open .links-action-container .links {
    display: flex;
  }
  nav.mobile-open .links-action-container .register {
    display: unset;
  }
  footer {
    padding: 4rem 2.5rem 1.5rem 2.5rem;
  }
  footer .content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  footer .content .about-summary {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  footer .content .useful-links {
    padding-top: 0;
  }
  footer .content .contact {
    padding-top: 0;
  }
}

/*# sourceMappingURL=App.css.map */
