.star {
  position: absolute;
}

#contact {
  color: white;
  margin: 8.855rem 0 3rem 0;
  height: fit-content;
  font-family: Montserrat, sans-serif;
  position: relative;
}
#contact .back-btn {
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 100%);
  display: none;
  width: fit-content;
  padding: 2px;
  height: 100%;
  border: solid 1px #D434FE;
  border-radius: 50%;
  margin-left: 2rem;
  margin-bottom: 5rem;
}
#contact .back-btn i {
  padding: 1.5rem 1.25rem;
  border-radius: 50%;
  background: #150E28;
  color: white;
}
#contact #pink-1 {
  top: 8rem;
  left: 6rem;
}
#contact #gray-1 {
  top: 2rem;
  right: 6rem;
  width: 18px;
}
#contact #purple-1 {
  right: 50%;
  bottom: 12.5rem;
  width: 20px;
}
#contact #white-1 {
  right: 2rem;
  bottom: 0;
  width: 20px;
}
#contact h1, #contact h2, #contact h3 {
  color: #D434FE;
  font-family: Clash Display, sans-serif;
}
#contact h1 {
  font-size: 3rem;
}
#contact h2 {
  font-size: 1.75rem;
}
#contact section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 4rem;
  padding: 4rem;
}
#contact section > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
#contact section > div:nth-of-type(1) p {
  font-size: 1rem;
}
#contact section > div:nth-of-type(1) .socials {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
#contact section > div:nth-of-type(1) .socials span {
  color: #D434FE;
}
#contact section > div:nth-of-type(1) .socials > div {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
#contact section > div:nth-of-type(2) {
  border-radius: 0.75rem;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 4rem;
}
#contact section > div:nth-of-type(2) > form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
#contact section > div:nth-of-type(2) > form input, #contact section > div:nth-of-type(2) > form textarea {
  border: solid 1px white;
  border-radius: 0.25rem;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 1rem 2rem;
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 1rem;
}
#contact section > div:nth-of-type(2) > form input::placeholder,
#contact section > div:nth-of-type(2) > form textarea::placeholder {
  color: white;
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
}
#contact section > div:nth-of-type(2) > form button {
  align-self: center;
}

@media screen and (max-width: 850px) {
  #contact {
    color: white;
    margin: 8.855rem 0 3rem 0;
    height: fit-content;
    font-family: Montserrat, sans-serif;
    position: relative;
  }
  #contact #pink-1 {
    top: 8rem;
    left: 6rem;
  }
  #contact #gray-1 {
    top: 2rem;
    right: 6rem;
    width: 18px;
  }
  #contact #purple-1 {
    right: 50%;
    bottom: 12.5rem;
    width: 20px;
  }
  #contact #white-1 {
    right: 2rem;
    bottom: 0;
    width: 20px;
  }
  #contact h1, #contact h2, #contact h3 {
    color: #D434FE;
    font-family: Clash Display, sans-serif;
  }
  #contact h1 {
    font-size: 3rem;
  }
  #contact h2 {
    font-size: 1.75rem;
  }
  #contact section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    column-gap: 4rem;
    padding: 0;
  }
  #contact section > div:nth-of-type(1) {
    display: none;
    flex-direction: column;
    row-gap: 1rem;
  }
  #contact section > div:nth-of-type(1) p {
    font-size: 1rem;
  }
  #contact section > div:nth-of-type(1) .socials {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  #contact section > div:nth-of-type(1) .socials span {
    color: #D434FE;
  }
  #contact section > div:nth-of-type(1) .socials > div {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
  #contact section > div:nth-of-type(2) {
    border-radius: 0.75rem;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 1.5rem;
  }
  #contact section > div:nth-of-type(2) > form {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  #contact section > div:nth-of-type(2) > form input, #contact section > div:nth-of-type(2) > form textarea {
    border: solid 1px white;
    border-radius: 0.25rem;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 1rem 2rem;
    font-family: Montserrat, sans-serif;
    color: white;
    font-size: 1rem;
  }
  #contact section > div:nth-of-type(2) > form input::placeholder,
#contact section > div:nth-of-type(2) > form textarea::placeholder {
    color: white;
    font-size: 1rem;
    font-family: Montserrat, sans-serif;
  }
  #contact section > div:nth-of-type(2) > form button {
    align-self: center;
  }
}
@media screen and (max-width: 500px) {
  #contact {
    color: white;
    margin: 8.855rem 0 3rem 0;
    height: fit-content;
    font-family: Montserrat, sans-serif;
    position: relative;
  }
  #contact .back-btn {
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 100%);
    display: flex;
  }
  #contact #pink-1 {
    top: 8rem;
    left: 6rem;
  }
  #contact #gray-1 {
    top: 2rem;
    right: 6rem;
    width: 18px;
  }
  #contact #purple-1 {
    right: 50%;
    bottom: 12.5rem;
    width: 20px;
  }
  #contact #white-1 {
    right: 2rem;
    bottom: 0;
    width: 20px;
  }
  #contact h1, #contact h2, #contact h3 {
    color: #D434FE;
    font-family: Clash Display, sans-serif;
  }
  #contact h1 {
    font-size: 3rem;
  }
  #contact h2 {
    font-size: 1.75rem;
  }
  #contact section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    column-gap: 4rem;
  }
  #contact section > div:nth-of-type(1) {
    display: none;
    flex-direction: column;
    row-gap: 1rem;
  }
  #contact section > div:nth-of-type(1) p {
    font-size: 1rem;
  }
  #contact section > div:nth-of-type(1) .socials {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  #contact section > div:nth-of-type(1) .socials span {
    color: #D434FE;
  }
  #contact section > div:nth-of-type(1) .socials > div {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
  #contact section > div:nth-of-type(2) {
    border-radius: 0.75rem;
    background: transparent;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 0rem;
  }
  #contact section > div:nth-of-type(2) > form {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  #contact section > div:nth-of-type(2) > form input, #contact section > div:nth-of-type(2) > form textarea {
    border: solid 1px white;
    border-radius: 0.25rem;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 1rem 2rem;
    font-family: Montserrat, sans-serif;
    color: white;
    font-size: 1rem;
    width: 100%;
  }
  #contact section > div:nth-of-type(2) > form input::placeholder,
#contact section > div:nth-of-type(2) > form textarea::placeholder {
    color: white;
    font-size: 1rem;
    font-family: Montserrat, sans-serif;
  }
  #contact section > div:nth-of-type(2) > form button {
    align-self: center;
  }
}

/*# sourceMappingURL=Contact.css.map */
